body {
    background-color: burlywood;
}
.card {
    border: 2px solid black;
    width: 300px;
    padding: 20px;
    transition: 1s;

    img {
        width: 100%;
    }
    
    

}

.red {
    background-color: rgb(241, 205, 3);
    color: aqua;
}
.none {
    display: none;
}